<a href="https://colab.research.google.com/github/Arvind-Khoda/ML_Lab/blob/main/Exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importing Required Libraries
import pandas as pd
import numpy as np
import scipy as sp

In [2]:
#Importing Required Dataset
data=pd.read_csv("/content/sample_data/california_housing_test.csv")

In [3]:
#Info About data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [50]:
#Finding mean,mode,median
#Method 1
for col in data.columns:
  print("<----------------------------->")
  print(f"Mean of {col} is {data[col].mean()}")
  print(f"Median of {col} is {data[col].median()}")
  print(f"Mode of {col} is {data[col].mode()}")
  print(f"Variance of {col} is {data[col].var()}")
  print(f"Standard Deviation of {col} is {data[col].std()}")
  print(f'Min of {col} is {data[col].min()}')
  print(f"Max of {col} is {data[col].max()}")
  print(f"25 Percentile of {col} is {data[col].quantile(0.25)}")
  print(f"75 Percentile of {col} is {data[col].quantile(0.75)}")
  print("")

<----------------------------->
Mean of longitude is -119.58919999999999
Median of longitude is -118.485
Mode of longitude is 0   -118.26
1   -118.21
Name: longitude, dtype: float64
Variance of longitude is 3.9797708169389803
Standard Deviation of longitude is 1.9949362939550175
Min of longitude is -124.18
Max of longitude is -114.49
25 Percentile of longitude is -121.81
75 Percentile of longitude is -118.02

<----------------------------->
Mean of latitude is 35.635389999999994
Median of latitude is 34.27
Mode of latitude is 0    34.02
Name: latitude, dtype: float64
Variance of latitude is 4.535492278659553
Standard Deviation of latitude is 2.129669523343834
Min of latitude is 32.56
Max of latitude is 41.92
25 Percentile of latitude is 33.93
75 Percentile of latitude is 37.69

<----------------------------->
Mean of housing_median_age is 28.845333333333333
Median of housing_median_age is 29.0
Mode of housing_median_age is 0    52.0
Name: housing_median_age, dtype: float64
Variance of housing_median_age is 157.6379575414027
Standard Deviation of housing_median_age is 12.555395554955753
Min of housing_median_age is 1.0
Max of housing_median_age is 52.0
25 Percentile of housing_median_age is 18.0
75 Percentile of housing_median_age is 37.0

<----------------------------->
Mean of total_rooms is 2599.578666666667
Median of total_rooms is 2106.0
Mode of total_rooms is 0     907.0
1    1778.0
2    1787.0
3    1966.0
Name: total_rooms, dtype: float64
Variance of total_rooms is 4646582.611348672
Standard Deviation of total_rooms is 2155.593331625581
Min of total_rooms is 6.0
Max of total_rooms is 30450.0
25 Percentile of total_rooms is 1401.0
75 Percentile of total_rooms is 3129.0

<----------------------------->
Mean of total_bedrooms is 529.9506666666666
Median of total_bedrooms is 437.0
Mode of total_bedrooms is 0    314.0
Name: total_bedrooms, dtype: float64
Variance of total_bedrooms is 172768.55375080582
Standard Deviation of total_bedrooms is 415.6543681363229
Min of total_bedrooms is 2.0
Max of total_bedrooms is 5419.0
25 Percentile of total_bedrooms is 291.0
75 Percentile of total_bedrooms is 636.0

<----------------------------->
Mean of population is 1402.7986666666666
Median of population is 1155.0
Mode of population is 0    870.0
Name: population, dtype: float64
Variance of population is 1062018.9004316994
Standard Deviation of population is 1030.5430124122424
Min of population is 5.0
Max of population is 11935.0
25 Percentile of population is 780.0
75 Percentile of population is 1742.75

<----------------------------->
Mean of households is 489.912
Median of households is 409.5
Mode of households is 0    273.0
1    375.0
2    614.0
Name: households, dtype: float64
Variance of households is 133533.75684161385
Standard Deviation of households is 365.42270980552627
Min of households is 2.0
Max of households is 4930.0
25 Percentile of households is 273.0
75 Percentile of households is 597.25

<----------------------------->
Mean of median_income is 3.8072717999999997
Median of median_income is 3.4871499999999997
Mode of median_income is 0    15.0001
Name: median_income, dtype: float64
Variance of median_income is 3.4392137555632813
Standard Deviation of median_income is 1.854511729691479
Min of median_income is 0.4999
Max of median_income is 15.0001
25 Percentile of median_income is 2.5439999999999996
75 Percentile of median_income is 4.6564749999999995

<----------------------------->
Mean of median_house_value is 205846.275
Median of median_house_value is 177650.0
Mode of median_house_value is 0    500001.0
Name: median_house_value, dtype: float64
Variance of median_house_value is 12796063693.23045
Standard Deviation of median_house_value is 113119.68746964628
Min of median_house_value is 22500.0
Max of median_house_value is 500001.0
25 Percentile of median_house_value is 121200.0
75 Percentile of median_house_value is 263975.0

In [53]:
#Method 2
#Using Numpy 
#Note mode function is not available in numpy 
for col in data.columns:
  print("<-------------------------------->")
  print(f"Mean of {col} is {np.mean(data[col])}")
  print(f"Median of {col} is {np.median(data[col])}")
  print(f"Variance of {col} is {np.var(data[col])}")
  print(f"Standard Deviation of {col} is {np.std(data[col])}")
  print(f"Min of {col} is {np.min(data[col])}")
  print(f'Max of {col} is {np.max(data[col])}')
  print(f"25 Percentile of {col} is {np.percentile(data[col],25)}")
  print(f"75 Percentile of {col} is {np.percentile(data[col],75)}")

<-------------------------------->
Mean of longitude is -119.58919999999999
Median of longitude is -118.485
Variance of longitude is 3.9784442266666673
Standard Deviation of longitude is 1.9946037768606244
Min of longitude is -124.18
Max of longitude is -114.49
25 Percentile of longitude is -121.81
75 Percentile of longitude is -118.02
<-------------------------------->
Mean of latitude is 35.635389999999994
Median of latitude is 34.27
Variance of latitude is 4.5339804479
Standard Deviation of latitude is 2.1293145488396026
Min of latitude is 32.56
Max of latitude is 41.92
25 Percentile of latitude is 33.93
75 Percentile of latitude is 37.69
<-------------------------------->
Mean of housing_median_age is 28.845333333333333
Median of housing_median_age is 29.0
Variance of housing_median_age is 157.58541155555554
Standard Deviation of housing_median_age is 12.553302814620363
Min of housing_median_age is 1.0
Max of housing_median_age is 52.0
25 Percentile of housing_median_age is 18.0
75 Percentile of housing_median_age is 37.0
<-------------------------------->
Mean of total_rooms is 2599.578666666667
Median of total_rooms is 2106.0
Variance of total_rooms is 4645033.750478223
Standard Deviation of total_rooms is 2155.2340361265233
Min of total_rooms is 6.0
Max of total_rooms is 30450.0
25 Percentile of total_rooms is 1401.0
75 Percentile of total_rooms is 3129.0
<-------------------------------->
Mean of total_bedrooms is 529.9506666666666
Median of total_bedrooms is 437.0
Variance of total_bedrooms is 172710.9642328889
Standard Deviation of total_bedrooms is 415.58508663436044
Min of total_bedrooms is 2.0
Max of total_bedrooms is 5419.0
25 Percentile of total_bedrooms is 291.0
75 Percentile of total_bedrooms is 636.0
<-------------------------------->
Mean of population is 1402.7986666666666
Median of population is 1155.0
Variance of population is 1061664.8941315555
Standard Deviation of population is 1030.3712409280238
Min of population is 5.0
Max of population is 11935.0
25 Percentile of population is 780.0
75 Percentile of population is 1742.75
<-------------------------------->
Mean of households is 489.912
Median of households is 409.5
Variance of households is 133489.24558933332
Standard Deviation of households is 365.3618009443972
Min of households is 2.0
Max of households is 4930.0
25 Percentile of households is 273.0
75 Percentile of households is 597.25
<-------------------------------->
Mean of median_income is 3.8072717999999997
Median of median_income is 3.4871499999999997
Variance of median_income is 3.4380673509780935
Standard Deviation of median_income is 1.854202618641796
Min of median_income is 0.4999
Max of median_income is 15.0001
25 Percentile of median_income is 2.5439999999999996
75 Percentile of median_income is 4.6564749999999995
<-------------------------------->
Mean of median_house_value is 205846.275
Median of median_house_value is 177650.0
Variance of median_house_value is 12791798338.666039
Standard Deviation of median_house_value is 113100.83261703266
Min of median_house_value is 22500.0
Max of median_house_value is 500001.0
25 Percentile of median_house_value is 121200.0
75 Percentile of median_house_value is 263975.0

In [44]:
#Method 3
import scipy as sp
from scipy import stats
for col in data.columns:
  print("<---------------------------------->")
  print(f"Mean of {col} is {sp.mean(data[col])}")
  print(f"Median of {col} is {sp.median(data[col])}")
  print(f"Mode of {col} is {stats.mode(data[col])[0]}")
  print(f"Variance of {col} is {stats.variation(data[col])}")
  print(f"Standard Deviation of {col} is {stats.tstd(data[col])}")
  print()

<---------------------------------->
Mean of longitude is -119.58919999999999
Median of longitude is -118.485
Mode of longitude is [-118.26]
Variance of longitude is -0.016678795216128417
Standard Deviation of longitude is 1.9949362939550175

<---------------------------------->
Mean of latitude is 35.635389999999994
Median of latitude is 34.27
Mode of latitude is [34.02]
Variance of latitude is 0.05975280609640032
Standard Deviation of latitude is 2.129669523343834

<---------------------------------->
Mean of housing_median_age is 28.845333333333333
Median of housing_median_age is 29.0
Mode of housing_median_age is [52.]
Variance of housing_median_age is 0.43519354307873126
Standard Deviation of housing_median_age is 12.555395554955753

<---------------------------------->
Mean of total_rooms is 2599.578666666667
Median of total_rooms is 2106.0
Mode of total_rooms is [907.]
Variance of total_rooms is 0.8290705196815957
Standard Deviation of total_rooms is 2155.593331625581

<---------------------------------->
Mean of total_bedrooms is 529.9506666666666
Median of total_bedrooms is 437.0
Mode of total_bedrooms is [314.]
Variance of total_bedrooms is 0.7841957992964637
Standard Deviation of total_bedrooms is 415.6543681363229

<---------------------------------->
Mean of population is 1402.7986666666666
Median of population is 1155.0
Mode of population is [870.]
Variance of population is 0.7345111350700056
Standard Deviation of population is 1030.5430124122424

<---------------------------------->
Mean of households is 489.912
Median of households is 409.5
Mode of households is [273.]
Variance of households is 0.7457702627092155
Standard Deviation of households is 365.42270980552627

<---------------------------------->
Mean of median_income is 3.8072717999999997
Median of median_income is 3.4871499999999997
Mode of median_income is [15.0001]
Variance of median_income is 0.4870160881715343
Standard Deviation of median_income is 1.854511729691479

<---------------------------------->
Mean of median_house_value is 205846.275
Median of median_house_value is 177650.0
Mode of median_house_value is [500001.]
Variance of median_house_value is 0.5494431833514241
Standard Deviation of median_house_value is 113119.68746964628

<ipython-input-44-314e7539d090>:6: DeprecationWarning: scipy.mean is deprecated and will be removed in SciPy 2.0.0, use numpy.mean instead
  print(f"Mean of {col} is {sp.mean(data[col])}")
<ipython-input-44-314e7539d090>:7: DeprecationWarning: scipy.median is deprecated and will be removed in SciPy 2.0.0, use numpy.median instead
  print(f"Median of {col} is {sp.median(data[col])}")
<ipython-input-44-314e7539d090>:8: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  print(f"Mode of {col} is {stats.mode(data[col])[0]}")

In [46]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000